@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Roboto Mono", monospace;
  --font-mono: "Fira Code", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: "PT Serif", serif;
  --radius: 0rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.25rem;
  --background: oklch(0.9551 0 0);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.6972 0.1351 172.0843);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9067 0 0);
  --secondary-foreground: oklch(0.2178 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.9695 0.0521 145.1593);
  --accent-foreground: oklch(0.436 0.1484 142.4953);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.9067 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.6972 0.1351 172.0843);
  --chart-1: oklch(0.6972 0.1351 172.0843);
  --chart-2: oklch(0.8075 0.1569 171.7618);
  --chart-3: oklch(0.6002 0.1149 173.2728);
  --chart-4: oklch(0.5171 0.0981 174.2566);
  --chart-5: oklch(0.4175 0.0786 175.1422);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.6972 0.1351 172.0843);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9695 0.0521 145.1593);
  --sidebar-accent-foreground: oklch(0.436 0.1484 142.4953);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.6972 0.1351 172.0843);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: "Roboto Mono", monospace;
  --font-serif: "PT Serif", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0.05em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
    0rem 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
    0rem 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
    0rem 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.08em;
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.8664 0.2948 142.4953);
  --card: oklch(0.2178 0 0);
  --card-foreground: oklch(0.8664 0.2948 142.4953);
  --popover: oklch(0.2178 0 0);
  --popover-foreground: oklch(0.8664 0.2948 142.4953);
  --primary: oklch(0.6115 0.2081 142.4953);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.285 0 0);
  --secondary-foreground: oklch(0.8664 0.2948 142.4953);
  --muted: oklch(0.1957 0 0);
  --muted-foreground: oklch(0.5917 0.2014 142.4953);
  --accent: oklch(0.335 0.114 142.4953);
  --accent-foreground: oklch(0.8664 0.2948 142.4953);
  --destructive: oklch(0.628 0.2577 29.2339);
  --border: oklch(0.335 0.114 142.4953);
  --input: oklch(0.2178 0 0);
  --ring: oklch(0.8664 0.2948 142.4953);
  --chart-1: oklch(0.8664 0.2948 142.4953);
  --chart-2: oklch(0.8716 0.2785 142.7157);
  --chart-3: oklch(0.7323 0.2492 142.4953);
  --chart-4: oklch(0.5917 0.2014 142.4953);
  --chart-5: oklch(0.4421 0.1504 142.4953);
  --sidebar: oklch(0.1448 0 0);
  --sidebar-foreground: oklch(0.8664 0.2948 142.4953);
  --sidebar-primary: oklch(0.6115 0.2081 142.4953);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.335 0.114 142.4953);
  --sidebar-accent-foreground: oklch(0.8664 0.2948 142.4953);
  --sidebar-border: oklch(0.335 0.114 142.4953);
  --sidebar-ring: oklch(0.8664 0.2948 142.4953);
  --destructive-foreground: oklch(1 0 0);
  --radius: 0rem;
  --font-sans: "Roboto Mono", monospace;
  --font-serif: "PT Serif", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: #00ff00;
  --shadow-opacity: 0.3;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0.08em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 0.75rem 0rem hsl(120 100% 50% / 0.15);
  --shadow-xs: 0rem 0.25rem 0.75rem 0rem hsl(120 100% 50% / 0.15);
  --shadow-sm: 0rem 0.25rem 0.75rem 0rem hsl(120 100% 50% / 0.3),
    0rem 1px 2px -1px hsl(120 100% 50% / 0.3);
  --shadow: 0rem 0.25rem 0.75rem 0rem hsl(120 100% 50% / 0.3),
    0rem 1px 2px -1px hsl(120 100% 50% / 0.3);
  --shadow-md: 0rem 0.25rem 0.75rem 0rem hsl(120 100% 50% / 0.3),
    0rem 2px 4px -1px hsl(120 100% 50% / 0.3);
  --shadow-lg: 0rem 0.25rem 0.75rem 0rem hsl(120 100% 50% / 0.3),
    0rem 4px 6px -1px hsl(120 100% 50% / 0.3);
  --shadow-xl: 0rem 0.25rem 0.75rem 0rem hsl(120 100% 50% / 0.3),
    0rem 8px 10px -1px hsl(120 100% 50% / 0.3);
  --shadow-2xl: 0rem 0.25rem 0.75rem 0rem hsl(120 100% 50% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
